.fc-toolbar {
  font-size: 1.2em;

  .fc-state-active {
    background-color: $cor-menu-highlight-escuro !important;
  }

  .fc-state-default {
    box-shadow: none;
  }
}

.fc-time-area {
  .fc-scroller {
    overflow-y: hidden !important;
  }

  .fc-rows {
    tr td{
      > div, > div .fc-event-container {
        min-height: 60px !important;
        height: 60px !important;
        max-height: 60px !important;
      }

      a.fc-timeline-event {
        min-height: 54px !important;
        height: 54px !important;
        max-height: 54px !important;
      }
    }
  }
}

.fc-resource-area {
  .fc-content {
    border-color: $cor-calendario-borda;
    tr td {
      > div {
        min-height: 60px !important;
        height: 60px !important;
        max-height: 60px !important;
      }
    }
  }
}

.fc-button {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;

  background-image: none;
  background-color: $cor-menu-highlight;
  color: white;

  &:hover {
    background-color: $cor-menu-highlight-escuro;
  }
}

.fc-view-container {
  margin-bottom: 15px;

  .fc-view {
    .fc-head {
      background-color: $cor-menu-lateral;
    }

    .fc-bg {
      background-color: $cor-calendario-fundo;
    }
  }

  .fc-more {
    color: white;
  }

  .fc-agendaWeek-view, .fc-agendaDay-view {
    .fc-slats, .fc-bg {
      tr {
        th, td {
          &:nth-child(1) {
            background-color: $cor-menu-lateral;
          }
        }
      }
    }
  }
}

.fc-now-indicator {
  border-color: $cor-menu-highlight;
}

.fc-time-grid .fc-now-indicator-line {
  z-index: 3 !important;
}

.fc-unthemed {
  .fc-today {
    background: $cor-calendario-ativo;
  }

  .fc-divider {
    background-color: $cor-menu-lateral;
  }

  td, th, .fc-divider {
    border-color: $cor-calendario-borda;
  }

  .fc-agendaDay-view {
    th {
      background-color: $cor-menu-lateral;
    }
    td {
      background-color: $cor-calendario-fundo;
    }
  }

  .fc-popover {
    border-color: $cor-calendario-borda;

    .fc-widget-header {
      background-color: $cor-menu-lateral;
    }

    .fc-body {
      background-color: $cor-menu-lateral;
    }
  }

  .fc-more-popover {
    max-height: 400px;
    overflow-y: auto;
  }

  .fc-scroller-canvas.fc-gutter-bottom {
    background-color: $cor-calendario-fundo;
  }
}

#agenda {

  .calendar {
    margin: 20px;
    min-width: 800px;
  }
}

.cadeado {
  width: 100%;
  text-align: center;

  .glyphicon {
    width: 100%;
    font-size: 2em;
    opacity: .5;
    text-shadow: 0 0 9px rgba(0, 0, 0, .8);
  }

  h6 {
    margin: 0;
    margin-bottom: 5px;
  }
}

.feriado {
  width: 22px;
  height: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: $cor-menu-highlight;
  font-size: 1.5em;
  text-shadow: 0 0 9px rgba(0, 0, 0, .8);
}

@media (min-width: 768px) {
  .popover-doido {
    margin-left: -64px; // tamanho do padding do body
  }
}
