.form-clientes {
  .nav-pills-claro {
    background-color: $cor-menu-lateral-borda;
    border-radius: 4px;
  }

  .nav-pills-escuro {
    background-color: $cor-menu-lateral;
    border-radius: 4px;
  }

  .dropdown-toggle.btn-default{
    font-size: 1.25em;
    color: white;
    background-color: $cor-menu-highlight;
    border-color: $cor-menu-highlight-escuro;

    &:focus, &:active {
      color: white;
      background-color: $cor-menu-highlight;
      border-color: $cor-menu-highlight-escuro;
    }
  }

  .dropdown-menu {
    width: 100%;
    background-color: $cor-menu-lateral-borda;
    color: white;
    top: 26px;
    font-size: 1.25em;

    > li {
      > a {
        color: white;

        &:hover {
          background-color: $cor-menu-highlight;
        }
      }
    }
  }

  #tabela-clientes {
    width: 100%;
  }

  //.form-endereco {
    .cabecalho {
      margin: 20px 0 0 0;
      padding-top: 10px;
      border-top: 1px solid white;

      a {
        &:hover, &:focus {
          text-decoration: none;
        }
      }

      .principal {
        font-size: 2em;
        vertical-align: -5px;
        color: $cor-menu-highlight;
      }

      h4 {
        display: inline-block;
      }

      .trash {
        float: right;
        font-size: 1.2em;
        margin-top: 10px;
        color: white;
      }
    }
  //}

  .rodape {
    border-top: 1px solid white;
  }

  .rodape-salvar {
    height: 50px;
    background-color: $cor-menu-lateral-borda;
    border-radius: 4px;

    > div {
      height: 100%;
      padding: 6px;
    }
    button {
      height: 100%;
      font-size: 1.4em;
    }
  }
}
