.form-clientes {

  #tabela-clientes {
    width: 100%;
  }

  //.form-endereco {
    .cabecalho {
      margin: 20px 0 10px 0;
      padding-top: 10px;
      border-top: 1px solid white;

      .btn-toggle {
        float: right;
        width: 25%;
        margin-top: 5px;
      }

      a {
        &:hover, &:focus {
          text-decoration: none;
        }
      }

      .principal {
        font-size: 2em;
        vertical-align: -5px;
        color: $cor-menu-highlight;
      }

      h4 {
        display: inline-block;
      }

      .trash {
        float: right;
        font-size: 1.2em;
        margin-top: 10px;
        color: white;
      }
    }
  //}

  .rodape {
    border-top: 1px solid white;
  }

  .rodape-salvar {
    height: 50px;
    background-color: $cor-menu-lateral-borda;
    border-radius: 4px;

    > div {
      height: 100%;
      padding: 6px;
    }
    button {
      height: 100%;
      font-size: 1.4em;
    }
  }
}

#clientes {
  .filtros {
    margin-bottom: 20px;

    h4, select, button {
      display: inline;
    }

    select {
      width: 160px;
      margin: 0 10px;
    }
  }
}
