.teste {
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    color: black;
  }
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

.teste2 {
  table {
    //table-layout: fixed; // larguras iguais

    th {
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 600px) {
  .teste {
    table {
      border: 0;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      display: none;
    }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child {
      border-bottom: 0;
    }
  }

  .teste2 {
    //table {
    //  thead {
    //    display: none;
    //  }
    //
    //  tr {
    //    margin-bottom: 10px;
    //    display: block;
    //    padding: 5px;
    //    border-radius: 6px;
    //  }
    //
    //  td {
    //    border: none;
    //    border-bottom: 1px solid $cor-menu-lateral;
    //    display: block;
    //    text-align: right;
    //
    //    &:before {
    //      content: attr(data-label);
    //      float: left;
    //      font-weight: bold;
    //      text-transform: uppercase;
    //    }
    //
    //    &:last-child {
    //      border-bottom: none;
    //    }
    //  }
    //}
  }
}
