#login {
  .login-header {
    max-width: 350px;
    min-width: 350px;
    //width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $cor-menu-lateral;
    background-image: url('../images/logotipo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 230px;
  }

  .login-body {
    text-align: center;
    max-width: 350px;
    min-width: 350px;
    width: 100%;
    padding: 20px;
    background-color: $cor-da-tela;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    > h4 {
      font-size: 1.2em;
      margin: 0 auto;
      color: white;
    }

    .form-control {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .inner-addon {
      position: relative;

      .glyphicon {
        font-size: 1.4em;
        position: absolute;
        padding: 10px;
        pointer-events: none;
        margin-top: 6px;
      }
    }

    .left-addon {
      .glyphicon {
        left: 0px;
      }

      input {
        padding-left: 40px;
      }
    }

    input {
      font-size: 1.3em;
      width: 100%;
      height: 50px;
      color: white;
      padding-bottom: 0px;
      //text-align: center;
      background-color: rgba(0, 0, 0, 0);
      border-color: white;
      border-radius: 0;
      margin-top: 15px;
    }

    .usuario {
      margin-top: 20px;
      //border-bottom-left-radius: 0;
      //border-bottom-right-radius: 0;
      border: none;
      border-bottom: 1px solid white;
    }

    .senha {
      //margin-top: -1px;
      //border-top-left-radius: 0;
      //border-top-right-radius: 0;
      border: none;
      border-bottom: 1px solid white;
    }

    button {
      width: 100%;
      height: 50px;
      font-size: 1.8em;
      margin-top: 40px;
      background-color: $cor-menu-highlight;
      color: white;
      border-color: $cor-menu-highlight-escuro;
      text-shadow: 0px 1px 1px $cor-text-shadow;

      &:hover, &:focus {
        background-color: $cor-menu-highlight-escuro;
        //color: white;
      }
    }
  }
}
