#tela-ticket {
  .lucilei {
    color: #bdbdbd;
  }

  div.comanda, div.dropdown, div.servico-produtos {
    ul.dropdown-menu {
      left: 0 !important;
      width: 100%;
    }
  }

  .nav-tabs li {
    min-width: 200px;

    .glyphicon {
      float: right;
    }

    a:hover {
      cursor: pointer;
    }
  }

  .conteudo-nav a.resumo {
    text-decoration: none;
    color: white;

    &:hover {
      color: #ccc;
    }
  }

  .container-tabela.gnomo {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px !important;
  }

  .rodape-salvar {
    margin-top: 30px;
  }

  .cabecalho {
    border-bottom: 1px solid white;
  }

  .cabecalho-parcela {
    margin-top: 30px;
    border-top: 1px solid white;
  }

  .comanda {
    width: 100%;
    height: 600px;
    background-image: url('../images/comanda.png');
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 300px;
    //padding: 17%;
    position: relative;

    > div {
      margin-top: 45px;
      position: absolute;
      max-width: 230px;
      width: 230px;
      @extend .centerY;
      display: block;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;

      .codigo {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
      }

      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  #tela-ticket {
    .tabela.tabela-produtos {
      tr {
        th, td {
          &:nth-child(3) {
            width: 80px;
          }
        }
      }
    }
  }
}

#tabela-ticket {
  height: 400px;
  min-height: 250px;

  thead, tbody, tr, td, th {
    display: block;
  }

  thead {
    th {
      float: left;
    }

    tr {
      //padding-right: 18px;
    }
  }

  tbody {
    height: 400px;
    overflow-y: scroll;

    tr {
      min-width: 700px;
    }

    td {
      float: left;
    }
  }

  tr {
    &:after {
      content: ' ';
      display: block;
      visibility: hidden;
      clear: both;
    }
  }

  th, td {
    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 10%;
    }

    &:nth-child(2) {
      width: 40%;
    }

    &:nth-child(6) {
      width: 20%;
    }
  }
}

#modalTicket {
  .body {
    max-height: 400px;
    overflow-y: auto;
  }

  .container-tabela {
    overflow-y: auto;
    max-height: 240px;
  }

  .tabela-cliente {
    tr {
      td {
        padding: 5px;

        &:nth-child(1) {
          width: 30%;
        }
      }

      &:nth-child(odd) {
        background-color: rgba(0,0,0,.1);
      }
    }
  }

  .tabela-pagamentos {
    tr {
      &:nth-child(even) {
        background-color: rgba(0,0,0,.1);
      }
    }
  }
}
