$cor-de-fundo: rgb(43, 43, 43);
$cor-menu-lateral: rgb(63, 63, 65);
$cor-menu-lateral-fundo: rgb(20, 20, 20);
$cor-menu-lateral-borda: rgb(90, 90, 90);
$cor-menu-highlight: rgb(186, 165, 38);
$cor-da-tela: rgb(108, 109, 113);
$cor-botao-menu-home: rgb(165, 169, 172);
$cor-botao-menu-home-highlight: rgb(135, 139, 142);

.ease-out {
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

html {
  height: 100%;
}

body {
  background-color: $cor-de-fundo;
  color: white;
  position: relative;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  @extend .ease-out;

  > .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.empurrado {
  margin-left: 300px;
}

.minimizado {
  margin-left: 64px;
}

.fechado {
  margin-left: 0px;
}

.centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centerX {
  /*position: absolute;*/
  /*right: 50%;*/
  /*-webkit-transform: translateX(-50%);*/
  /*-moz-transform: translateX(-50%);*/
  /*-ms-transform: translateX(-50%);*/
  /*-o-transform: translateX(-50%);*/
  /*transform: translateX(-50%);*/
  width: 100%;
  margin: 0 auto;
}

.logotipo {
  background-image: url('../images/logotipo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 300px;
  height: 200px;
  @extend .ease-out;
}

@media (min-width: 1200px) {
  body {
    > .container {
      margin: auto 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 992px) {
  body {
    > .container {
      margin: auto 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 768px) {
  body {
    > .container {
      margin: auto 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.tela {
  background-color: $cor-da-tela;
  width: 100%;
  max-height: 100%;
  padding: 20px;
  overflow-y: auto;
  position: absolute;
}

.tela-transparente {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.uib-daypicker {
  color: #666;
}

.linha-divisoria {
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

@import "login";
@import "menu-lateral";
@import "home";
@import "ticket";
