$cor-de-fundo:                    #2b2b2b;
$cor-menu-lateral:                #3f3f41;
$cor-menu-lateral-escuro:         #343434;
$cor-menu-lateral-fundo:          rgb(20, 20, 20);
$cor-menu-lateral-borda:          rgb(90, 90, 90);
$cor-menu-highlight:              rgb(186, 165, 38);
$cor-menu-highlight-medio:        #9e8a15;
$cor-menu-highlight-escuro:       #867512;
$cor-da-tela:                     rgb(108, 109, 113);
$cor-botao-menu-home-1:           rgb(165, 169, 172);
$cor-botao-menu-home-2:           #777;
$cor-botao-menu-home-borda:       #ccc;
$cor-botao-menu-home-highlight-1: rgb(135, 139, 142);
$cor-botao-menu-home-highlight-2: #666;
$cor-calendario-fundo:            #555;
$cor-calendario-borda:            #777;
$cor-calendario-ativo:            #999;
$cor-text-shadow:                 rgba(0, 0, 0, 0.75);
$cor-modal-head:                  rgb(63, 63, 65);
$cor-modal-body:                  #555;
$cor-modal-borda:                 rgb(90, 90, 90);
$cor-modal-borda-body:            rgb(120, 120, 120);
$cor-texto-escuro:                #333333;

.ease-out {
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

html {
  height: 100%;
}

body {
  padding-right: 0px !important;
  margin-top: 60px;
  background-color: $cor-de-fundo;
  color: white;
  position: relative;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  @extend .ease-out;

  > .container {
    margin: 0;
    padding: 0;
    width: 100%;
    //height: 100%;
  }
}

.empurrado {
  margin-left: 0px;
}

.minimizado {
  margin-left: 0px;
}

.fechado {
  margin-left: 0px;
}

.centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centerX {
  /*position: absolute;*/
  /*right: 50%;*/
  /*-webkit-transform: translateX(-50%);*/
  /*-moz-transform: translateX(-50%);*/
  /*-ms-transform: translateX(-50%);*/
  /*-o-transform: translateX(-50%);*/
  /*transform: translateX(-50%);*/
  width: 100%;
  margin: 0 auto;
}

.logotipo {
  background-image: url('../images/logotipo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 300px;
  height: 200px;
  @extend .ease-out;
}

.sombra-texto {
  text-shadow: 1px 1px 1px $cor-text-shadow;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  //background-image: url('../images/ring-alt.gif');
  background-color: rgba(0, 0, 0, 0.6);
  //background-repeat: no-repeat;
  //background-position: center;

  > div {
    position: absolute;
    transform: scale(0.75);
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.botao {
  background-color: $cor-menu-highlight;
  color: white;
  text-shadow: 0px 1px 1px $cor-text-shadow;
  border-color: $cor-menu-highlight-escuro;
  outline: none;

  .glyphicon {
    color: white;
  }

  &:hover, &:focus {
    background-color: $cor-menu-highlight-escuro;
    color: white;
    outline: none;
  }
}

.botao-esticado {
  width: 100%;
}

.tela {
  @extend .container;

  .conteudo-tela {
    width: 100%;
    padding: 20px 4px;
  }

  background-color: $cor-de-fundo;
  width: 100%;
  //max-height: 100%;
  overflow-y: auto;
  //position: absolute;
  padding: 0px;

  .header {
    background-color: $cor-menu-lateral;
    margin: 0;
    padding: 30px;
    height: 200px;
    position: relative;

    .content {
      @extend .centerY;
    }

    h1, span, h4 {
      @extend .sombra-texto;
    }

    h1 {
      font-size: 3em;
    }

    h4 {
      margin-left: 60px;
    }
  }

  .body {
    //padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    button {
      @extend .botao;
    }
  }

  .footer {
    background-color: $cor-menu-lateral;
    margin: 0;
    padding: 30px;
    height: 160px;
  }
}

.tela-transparente {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.calendario {
  .dropdown-menu {
    color: white;
    background-color: $cor-menu-lateral !important;

    .text-info {
      color: white;
    }

    .btn-info:active, .btn-info.active {
      background-color: $cor-menu-lateral;
      border-color: $cor-menu-lateral-borda;
    }

    .uib-datepicker-current, .uib-clear, .uib-close {
      border-color: $cor-menu-highlight-escuro;
    }
  }
}

.uib-timepicker {
  .uib-separator {
    text-align: center;
  }
  tr {
    &:nth-child(2) {
      td {
        &:nth-child(1) {
          input {
            float: right;
          }
        }
      }
    }
  }
}

.tabela {
  //background-color: $cor-menu-lateral;
  //min-width: 700px;

  a {
    color: $cor-menu-lateral;
  }

  thead {
    background-color: $cor-menu-lateral;

    tr {
      background-color: $cor-menu-lateral !important;
    }
  }

  th, td {
    padding: 3px;
    a {
      color: white;
    }
  }

  th {
    border-bottom: none !important;
    background-color: $cor-menu-lateral-borda;
    color: white;
    text-align: center;
  }

  td {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-color: $cor-menu-lateral-borda;
  }

  tr {
    color: white;

    &:nth-child(odd) {
      background-color: $cor-botao-menu-home-2;
    }

    &:nth-child(even) {
      background-color: $cor-botao-menu-home-2;
    }

    &:hover {
      background-color: $cor-menu-lateral-borda;
      cursor: pointer;
    }
  }
}

.tabela-bordered {
  td, th {
    border: 1px solid $cor-menu-lateral;
    border-spacing: 0;
    border-collapse: collapse;
  }
}

.modal-backdrop.in {
  opacity: .6;
}

.modal {
  .meu-modal {
    @extend .condensar-rows;
  }
  //text-align: center;
  //
  //&:before {
  //  display: inline-block;
  //  vertical-align: middle;
  //  content: " ";
  //  height: 100%;
  //}

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .input-group-btn {
    button {
      @extend .botao;
    }
  }

  .header {
    background-color: $cor-modal-head;
    border: 1px solid $cor-modal-borda;
    border-radius: 4px 4px 0 0;
    border-bottom-color: transparent;
    padding: 12px;
    height: 60px;

    .title {
      font-size: 1.8em;
      @extend .sombra-texto;

      .flag {
        font-size: 1.2em;
      }

      .close {
        margin: 0px;
        font-size: 1.2em;
      }
    }

    .center-title {
      text-align: center;
    }
  }

  .sub-header {
    background-color: $cor-modal-head;
    border: 1px solid $cor-modal-borda;
    border-top-color: transparent;
    border-bottom-color: transparent;
    padding: 10px;
  }

  .modal-lg {
    .body {
      height: 500px;

      .dropdown {
        width: 100%;

        button {
          width: 100%;
          max-width: 100%;

          .caret {

          }
        }
      }
    }
  }

  .modal-md {
    .body {
      min-height: 250px;
      max-height: 600px;
    }
  }

  .modal-sm {
    .header {
      padding-left: 20px;
      padding-top: 2px;
    }

    .body {
      height: 70px;

      .glyphicon {
        font-size: 2.5em;
        vertical-align: middle;
        margin: 5px;
      }
    }
  }

  .body {
    background-color: $cor-modal-body;
    border: 1px solid $cor-modal-borda-body;
    border-top-color: transparent;
    border-bottom-color: transparent;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;

    button {
      @extend .botao;
    }

    .container {
      width: 100%;
    }

    .tabela {
      width: 100%;
      max-width: 100%;

      td {
        white-space: normal;
        padding: 4px;
      }
    }

    .linha {
      width: 100%;
      margin: 0 auto;

      .bloco {
        width: 25%;
        float: left;
      }
    }

    .telefone {
      text-align: center;
    }

    select {
      text-align: center;
      text-align-last: center;
    }

    textarea {
      resize: none;
      min-width: 100%;
      max-width: 100%;
    }

    .dropdown-menu {
      background-color: white;

      li > a {
        &:hover {
          background-color: #ccc;
        }
      }
    }
  }

  .control {
    background-color: $cor-modal-head;
    border: 1px solid $cor-menu-lateral-borda;
    border-top-color: transparent;
    border-radius: 0 0 4px 4px;
    height: 60px;
    padding: 10px;

    button {
      @extend .botao;

      float: right;
      margin-left: 10px;
      min-width: 120px;
      height: 100%;
      font-size: 1.2em;
    }
  }

  .control-flex {
    background-color: $cor-modal-head;
    border-radius: 0 0 4px 4px;
    padding: 10px;
  }
}

.modal-dialog {
  //display: inline-block;
  //text-align: left;
  //vertical-align: middle;
}

#modal-grupo {
  .title {
    text-align: center;
  }

  .body {
    padding-left: 50px;
  }
}

.popover {
  z-index: 100;
}

.popover-inner {
  color: $cor-texto-escuro;
}

.tree {
  > ul {
    margin-left: 70px;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative;

    &:before, &:after {
      content: '';
      left: -33px;
      position: absolute;
      right: auto;
    }

    &:before {
      border-left: 1px solid $cor-menu-highlight;
      bottom: 50px;
      height: 100%;
      top: 0;
      width: 1px;
    }

    &:after {
      border-top: 1px solid $cor-menu-highlight;
      height: 20px;
      top: 23px;
      width: 34px;
    }

    &:last-child {
      &:before {
        height: 24px;
      }
    }
  }

  .leaf {
    min-width: 150px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid $cor-menu-highlight-escuro;
    background-color: $cor-menu-highlight;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
    cursor: pointer;
  }
}

.tree li.parent_li>span.leaf:hover, .tree li.parent_li>span.leaf:hover+ul li span.leaf {
  background: $cor-menu-highlight-escuro;
  border:1px solid $cor-menu-highlight;
  color: white;
}

.well {
  background: $cor-menu-lateral;
}

.btn-toggle {
  width: 100%;

  .btn {
    @extend .botao;
    width: 50%;

    &:active, &:hover, &:focus {
      border: 1px solid $cor-menu-highlight-escuro;
    }
  }

  .active {
    background-color: $cor-menu-highlight-medio;
  }
}

.nav-tabs {
  border-bottom-color: $cor-menu-lateral-borda;

  >li {
    min-width: 120px;
    text-align: center;

    > a {
      background-color: $cor-menu-lateral-escuro;
      color: white;
      border: 1px solid $cor-menu-lateral;
      border-bottom-color: $cor-menu-lateral-borda;

      &:hover {
        background-color: $cor-menu-lateral-borda;
        border: 1px solid $cor-menu-lateral-borda;
      }

      &:focus {
        background-color: $cor-menu-lateral;
        border: 1px solid $cor-menu-lateral-borda;
        border-bottom-color: transparent;
        color: white;
      }
    }
  }

  >li.active {
    > a {
      background-color: $cor-menu-lateral;
      color: white;
      border: 1px solid $cor-menu-lateral-borda;
      border-bottom-color: transparent;

      &:hover {
        background-color: $cor-menu-lateral-borda;
        border: 1px solid $cor-menu-lateral-borda;
        color: white;
      }

      &:focus {
        background-color: $cor-menu-lateral;
        border: 1px solid $cor-menu-lateral-borda;
        border-bottom-color: transparent;
        color: white;
      }
    }
  }
}

.nav-pills {
  a {
    color: white;
  }

  > li {
    a {
      &:hover {
        background-color: $cor-menu-highlight;
      }
    }
  }

  > li.active {
    > a {
      background-color: $cor-menu-highlight;

      &:hover, &:focus {
        background-color: $cor-menu-highlight;
      }
    }
  }
}

.ng-ms {
  padding: 0 7px;

  li {
    padding: 0 4px;

    span {
      border-color: $cor-menu-lateral !important;
    }
  }
}

.autocomplete-list {
  color: $cor-de-fundo !important;
}

.autocomplete-active {
  background-color: $cor-menu-highlight !important;
}

.condensar-rows {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.conteudo-nav {
  background-color: $cor-menu-lateral;
  border: 1px solid $cor-menu-lateral-borda;
  border-top-color: transparent;
  padding: 20px;
  min-height: 100%;
  overflow: auto;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  body {
    margin-top: 0;
  }

  .empurrado {
    margin-left: 64px;
  }

  .minimizado {
    margin-left: 64px;
  }

  .conteudo-tela {
    padding: 20px !important;
  }

  .modal-lg {
    width: 100%;
    //margin: 30px;
  }

  .modal-dialog {
    margin: 0;
    padding: 30px;
  }

  .modal-sm, .modal-md {
    margin: 0 auto;
  }

  .modal-sm {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
    margin: 30px auto;
  }

  .modal-sm {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .empurrado {
    margin-left: 300px;
  }

  .minimizado {
    margin-left: 64px;
  }

  .dark-div, .show-dark-div {
    display: none;
  }
}

//@import "global-sm";
//@import "global-md";
//@import "global-lg";
@import "loading-animation";
@import "login";
@import "menu-lateral";
@import "home";
@import "ticket";
@import "servicosProdutos";
@import "clientes";
@import "agenda";
