$cor-de-fundo:                    rgb(43, 43, 43);
$cor-menu-lateral:                rgb(63, 63, 65);
$cor-menu-lateral-fundo:          rgb(20, 20, 20);
$cor-menu-lateral-borda:          rgb(90, 90, 90);
$cor-menu-highlight:              rgb(186, 165, 38);
$cor-menu-highlight-escuro:       #867512;
$cor-da-tela:                     rgb(108, 109, 113);
$cor-botao-menu-home-1:           rgb(165, 169, 172);
$cor-botao-menu-home-2:           #777;
$cor-botao-menu-home-borda:       #ccc;
$cor-botao-menu-home-highlight-1: rgb(135, 139, 142);
$cor-botao-menu-home-highlight-2: #666;
$cor-calendario-fundo:            #555;
$cor-calendario-borda:            #777;
$cor-calendario-ativo:            #999;
$cor-text-shadow:                 rgba(0, 0, 0, 0.75);
$cor-modal-head:                  rgb(63, 63, 65);
$cor-modal-body:                  #555;

.ease-out {
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

html {
  height: 100%;
}

body {
  background-color: $cor-de-fundo;
  color: white;
  position: relative;
  min-height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  @extend .ease-out;

  > .container {
    margin: 0;
    padding: 0;
    width: 100%;
    //height: 100%;
  }
}

.empurrado {
  margin-left: 300px;
}

.minimizado {
  margin-left: 64px;
}

.fechado {
  margin-left: 0px;
}

.centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centerX {
  /*position: absolute;*/
  /*right: 50%;*/
  /*-webkit-transform: translateX(-50%);*/
  /*-moz-transform: translateX(-50%);*/
  /*-ms-transform: translateX(-50%);*/
  /*-o-transform: translateX(-50%);*/
  /*transform: translateX(-50%);*/
  width: 100%;
  margin: 0 auto;
}

.logotipo {
  background-image: url('../images/logotipo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 300px;
  height: 200px;
  @extend .ease-out;
}

.sombra-texto {
  text-shadow: 1px 1px 1px $cor-text-shadow;
}

@media (min-width: 1200px) {
  body {
    > .container {
      //margin: auto 0;
      //padding: 0;
      //width: 100%;
      //height: 100%;
    }
  }
}

@media (min-width: 992px) {
  body {
    > .container {
      //margin: auto 0;
      //padding: 0;
      //width: 100%;
      //height: 100%;
    }
  }
}

@media (min-width: 768px) {
  body {
    > .container {
      //margin: auto 0;
      //padding: 0;
      //width: 100%;
      //height: 100%;
    }
  }
}

.botao {
  background-color: $cor-menu-highlight;
  color: white;
  text-shadow: 0px 1px 1px $cor-text-shadow;
  border-color: $cor-menu-highlight-escuro;
  outline: none;

  .glyphicon {
    color: white;
  }

  &:hover, &:focus {
    background-color: $cor-menu-highlight-escuro;
    color: white;
    outline: none;
  }
}

.tela {
  @extend .container;

  background-color: $cor-de-fundo;
  width: 100%;
  //max-height: 100%;
  overflow-y: auto;
  //position: absolute;
  padding: 0px;

  .header {
    background-color: $cor-menu-lateral;
    margin: 0;
    padding: 30px;
    height: 200px;
    position: relative;

    .content {
      @extend .centerY;
    }

    h1, span, h4 {
      @extend .sombra-texto;
    }

    h1 {
      font-size: 3em;
    }

    h4 {
      margin-left: 60px;
    }
  }

  .body {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    button {
      @extend .botao;
    }
  }

  .footer {
    background-color: $cor-menu-lateral;
    margin: 0;
    padding: 30px;
    height: 160px;
  }
}

.tela-transparente {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.dropdown-menu {
  color: white;
  background-color: $cor-menu-lateral;

  .text-info {
    color: white;
  }

  .btn-info:active, .btn-info.active {
    background-color: $cor-menu-lateral;
    border-color: $cor-menu-lateral-borda;
  }

  .uib-datepicker-current, .uib-clear, .uib-close {
    border-color: $cor-menu-highlight-escuro;
  }
}

.tabela {
  background-color: $cor-menu-lateral;
  min-width: 700px;

  a {
    color: $cor-menu-lateral;
  }

  thead {
    background-color: $cor-menu-lateral;

    tr {
      background-color: $cor-menu-lateral !important;
    }
  }

  th {
    border-bottom: none;
    background-color: $cor-menu-lateral;
    color: white;
    text-align: center;
  }

  td {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-color: $cor-botao-menu-home-1;
  }

  tr {
    color: white;

    &:nth-child(odd) {
      background-color: $cor-botao-menu-home-2;
    }

    &:nth-child(even) {
      background-color: $cor-botao-menu-home-2;
    }

    &:hover {
      background-color: $cor-menu-lateral;
      cursor: pointer;
    }
  }
}

.modal {
  text-align: center;

  &:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .header {
    background-color: $cor-modal-head;
    border-radius: 4px 4px 0 0;
    padding-left: 5px;
    height: 40px;

    .title {
      font-size: 1.8em;

      .flag {
        font-size: 1.2em;
      }

      .close {
        margin: 8px;
      }
    }
  }

  .body {
    background-color: $cor-modal-body;
    height: 200px;
    padding: 10px;
    overflow-y: auto;
  }

  .control {
    background-color: $cor-modal-head;
    border-radius: 0 0 4px 4px;
    height: 60px;
    padding: 10px;

    button {
      @extend .botao;

      float: right;
      margin-left: 10px;
      min-width: 120px;
      height: 100%;
      font-size: 1.2em;
    }
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@import "login";
@import "menu-lateral";
@import "home";
@import "ticket";
@import "servicosProdutos";
@import "agenda";
