<div class="col-sm-3">
  <div class="avatar">
    <div ng-class="{'male': crm.pessoa.sexo == 'M', 'female': crm.pessoa.sexo == 'F'}"></div>
  </div>
  <div class="col-sm-6 col-sm-offset-3 info">
    <h5>Sexo:</h5>
    <ul>
      <li>
        {{crm.pessoa.sexo == 'M' ? 'Masculino' : 'Feminino'}}
      </li>
    </ul>
    <h5>Categorias:</h5>
    <ul>
      <li ng-repeat="categoria in crm.pessoa.categorias">
        {{categoria.nome}}
      </li>
    </ul>
    <h5>Nascimento:</h5>
    <ul>
      <li>{{crm.pessoa.nascimento ? (crm.pessoa.nascimento | date: 'dd/MM/yyyy') : 'Indisponível'}}</li>
    </ul>
  </div>
</div>

<div class="col-sm-9">
  <h2><span class="glyphicon glyphicon-user"></span> {{crm.pessoa.nome}}</h2>

  <div class="row">
    <div class="col-md-2">
      <h4>Código</h4>
      <input type="text" class="form-control" readonly ng-value="crm.pessoa.codigo">
    </div>
    <div class="col-md-6">
      <h4>Nome</h4>
      <input type="text" class="form-control" readonly ng-value="crm.pessoa.nome">
    </div>
    <div class="col-md-4">
      <h4>Apelido</h4>
      <input type="text" class="form-control" readonly ng-value="crm.pessoa.apelido">
    </div>
    <div class="col-md-3">
      <h4>Tipo</h4>
      <select name="" id="" class="form-control" ng-value="crm.pessoa.tipo" disabled>
        <option value="F">Físico</option>
        <option value="J">Jurídico</option>
      </select>
    </div>
    <div class="col-md-3">
      <h4>CPF</h4>
      <input type="text" class="form-control" ng-value="crm.pessoa.cpf" readonly>
    </div>
    <div class="col-md-3">
      <h4>RG</h4>
      <input type="text" class="form-control" ng-value="crm.pessoa.rg" readonly>
    </div>
    <div class="col-md-3">
      <h4>CNPJ</h4>
      <input type="text" class="form-control" ng-value="crm.pessoa.cnpj" readonly>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <h3><span class="glyphicon glyphicon-map-marker"></span> Endereços</h3>
      <div class="enderecos" ng-class="{'principal': endereco.principal}" ng-repeat="endereco in crm.pessoa.enderecos track by $index">
        <div class="tag" ng-if="endereco.principal"><span class="glyphicon glyphicon-star"></span> <b>Principal</b></div>
        <div><b>CEP:</b> <span>{{endereco.cep.codigo}}</span></div>
        <div><b>Logradouro:</b> <span>{{endereco.getEnderecoCompleto()}}</span></div>
      </div>
      <div class="enderecos" ng-if="!crm.pessoa.enderecos.length">
        <div><b>Nenhum endereço cadastrado.</b></div>
      </div>
    </div>
    <div class="col-sm-6">
      <h3><span class="glyphicon glyphicon-phone-alt"></span> Contatos</h3>
      <div class="contatos" ng-class="{'principal': contato.principal}" ng-repeat="contato in crm.pessoa.contatos track by $index">
        <div class="tag" ng-if="contato.principal"><span class="glyphicon glyphicon-star"></span> <b>Principal</b></div>
        <div><b>Tipo:</b> <span>{{contato.tipoContato.nome}}</span></div>
        <div><b>Contato:</b> <span>{{contato.contato}}</span></div>
        <div><b>Referência:</b> <span>{{contato.referencia || 'Indisponível'}}</span></div>
      </div>
      <div class="contatos" ng-if="!crm.pessoa.contatos.length">
        <div><b>Nenhum contato cadastrado.</b></div>
      </div>
    </div>
  </div>

</div>
