<ul class="hidden-xs nav nav-pills nav-justified nav-pills-escuro" ng-init="opt = 'pessoa'">
  <li role="presentation" ng-class="opt === 'pessoa' ? 'active' : ''"><a href="" class="sombra-texto" ng-click="opt = 'pessoa'">Pessoa</a></li>
  <li role="presentation" ng-class="opt === 'endereco' ? 'active' : ''"><a href="" class="sombra-texto" ng-click="opt = 'endereco'">Endereço</a></li>
  <li role="presentation" ng-class="opt === 'contato' ? 'active' : ''"><a href="" class="sombra-texto" ng-click="opt = 'contato'">Contato</a></li>
</ul>
<div class="dropdown visible-xs-inline" ng-init="label='Pessoa'">
  <button class="btn btn-default botao-esticado dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{label}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="" ng-click="opt = 'pessoa'; label = 'Pessoa'"><span class="glyphicon glyphicon-ok" ng-show="opt==='pessoa'"></span>&nbsp; Pessoa</a></li>
    <li><a href="" ng-click="opt = 'endereco'; label = 'Endere&ccedil;o'"><span class="glyphicon glyphicon-ok" ng-show="opt==='endereco'"></span>&nbsp; Endereço</a></li>
    <li><a href="" ng-click="opt = 'contato'; label = 'Contato'"><span class="glyphicon glyphicon-ok" ng-show="opt==='contato'"></span>&nbsp; Contato</a></li>
  </ul>
</div>
<br>

<!--PESSOA-->
<div ng-show="opt === 'pessoa'">
  <div class="row">
    <div class="col-sm-12 col-md-12 cabecalho">
      <h4>Informações</h4>
      <div class="btn-group btn-toggle">
        <label class="btn btn-primary" ng-model="pessoa.ativo" uib-btn-radio="true"><span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs">Ativo</span></label>
        <label class="btn btn-primary" ng-model="pessoa.ativo" uib-btn-radio="false"><span class="glyphicon glyphicon-eye-close"></span> <span class="hidden-xs">Inativo</span></label>
      </div>
    </div>
    <div class="col-sm-8 col-md-6">
      <h4>Nome</h4>
      <input type="text" class="form-control" ng-model="pessoa.nome">
    </div>
    <div class="col-sm-4 col-md-3">
      <h4>Apelido</h4>
      <input type="text" class="form-control" ng-model="pessoa.apelido">
    </div>
    <div class="col-sm-4 col-md-3">
      <h4>Sexo</h4>
      <select name="" id="" class="form-control" ng-model="pessoa.sexo">
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3">
      <h4>Tipo</h4>
      <select name="tipo-pessoa" class="form-control" ng-model="pessoa.tipo">
        <option value="F">Física</option>
        <option value="J">Jurídica</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-9">
      <h4>Categorias</h4>
      <multiple-autocomplete ng-model="pessoa.categorias" object-property="nome" suggestions-arr="categorias_pessoa"></multiple-autocomplete>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3">
      <h4>Nascimento</h4>
      <div class="input-group calendar">
        <input type="text" class="form-control text-center" name="data-nascimento" uib-datepicker-popup="{{format}}" datepicker-template-url="partials/datepicker/index.html" on-open-focus="false" is-open="popupCalendario" ng-model="pessoa.nascimento" datepicker-options="dateOptions" show-button-bar="true" ng-required="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar"/>
        <div class="input-group-btn">
          <button class="btn btn-default" ng-click="popupCalendario = !popupCalendario"><span class="glyphicon glyphicon-calendar"></span></button>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3">
      <h4>CPF</h4>
      <input type="text" name="cpf" class="form-control" ng-model="pessoa.cpf" ng-readonly="pessoa.tipo === 'J'" ui-mask="999.999.999.99" model-view-value="true">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3">
      <h4>RG</h4>
      <input type="text" class="form-control" ng-model="pessoa.rg" ng-readonly="pessoa.tipo === 'J'" ui-mask="99.999.999-9" model-view-value="true">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3">
      <h4>CNPJ</h4>
      <input type="text" class="form-control" ng-model="pessoa.cnpj" ng-readonly="pessoa.tipo === 'F'" ui-mask="99.999.999/9999-99" model-view-value="true">
    </div>
  </div>
  <br>
  <br>
  <!--<div class="col-sm-12 col-md-4 col-md-offset-4">-->
    <!--<div class="btn-group btn-toggle">-->
      <!--<label class="btn btn-primary" ng-model="pessoa.ativo" uib-btn-radio="true"><span class="glyphicon glyphicon-eye-open"></span> Ativo</label>-->
      <!--<label class="btn btn-primary" ng-model="pessoa.ativo" uib-btn-radio="false"><span class="glyphicon glyphicon-eye-close"></span> Inativo</label>-->
    <!--</div>-->
  <!--</div>-->
</div>

<!--ENDERECO-->
<div ng-show="opt === 'endereco'">
  <div class="row" ng-repeat="e in pessoa.enderecos track by $index" ng-init="e.codigo = '0' + ($index + 1).toString()">
    <div class="col-sm-12 col-md-12 cabecalho">
      <a href="" class="principal" data-toggle="tooltip" title="Endereço principal" ng-mouseenter="hovering=!e.principal" ng-mouseleave="hovering=e.principal" ng-click="pessoa.setEnderecoPrincipal($index)">
        <span class="glyphicon" ng-class="e.principal ? 'glyphicon-star' : 'glyphicon-star-empty'"></span>
      </a>
      <h4>Endereço {{$index + 1}}</h4>
      <a href="" class="trash" ng-click="removeEndereco($index)"><span class="glyphicon glyphicon-trash"></span> Excluir</a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3">
      <h4>CEP</h4>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="e.cep.codigo" ui-mask="99999-999" model-view-value="true">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="getCEPPorCodigo(e.cep.codigo, $index)"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-1">
      <h4>UF</h4>
      <input type="text" class="form-control" readonly="true" ng-model="e.cep.uf">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h4>Cidade</h4>
      <input type="text" class="form-control" readonly="true" ng-model="e.cep.cidade.nome">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-4">
      <h4>Bairro</h4>
      <input type="text" class="form-control" readonly="true" ng-model="e.cep.bairro.nome">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3">
      <h4>Tipo</h4>
      <select name="tipo-logradouro" class="form-control" ng-options="tipo as tipo for tipo in tipos_logradouros" ng-model="e.tipo"></select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
      <h4>Logradouro</h4>
      <input type="text" class="form-control" ng-model="e.logradouro">
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <h4>Número</h4>
      <input type="text" class="form-control" ng-model="e.numero">
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9">
      <h4>Complemento</h4>
      <input type="text" class="form-control" ng-model="e.complemento">
    </div>
  </div>
  <br>
  <div class="row" ng-class="{'rodape': pessoa.enderecos.length}">
    <br>
    <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <button class="btn btn-default botao botao-esticado" ng-click="addEndereco()"><span class="glyphicon glyphicon-plus"></span> Novo Endereço</button>
    </div>
    <br>
  </div>
  <br>
  <br>
  <!--<div class="row">-->
  <!--<div class="col-sm-3 col-md-3">-->
  <!--<button class="btn btn-default botao-esticado" ng-click="opt='pessoa'"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button>-->
  <!--</div>-->
  <!--<div class="col-sm-6 col-md-6 text-center">Etapa 2 de 3</div>-->
  <!--<div class="col-sm-3 col-md-3">-->
  <!--<button class="btn btn-default botao-esticado" ng-click="opt='contato'">Avançar <span class="glyphicon glyphicon-chevron-right"></span></button>-->
  <!--</div>-->
  <!--</div>-->
</div>

<!--CONTATO-->
<div ng-show="opt === 'contato'">
  <div class="row" ng-repeat="c in pessoa.contatos track by $index">
    <div class="col-sm-12 col-md-12 cabecalho">
      <a href="" class="principal" data-toggle="tooltip" title="Contato principal" ng-click="pessoa.setContatoPrincipal($index)">
        <span class="glyphicon" ng-class="c.principal ? 'glyphicon-star' : 'glyphicon-star-empty'"></span>
      </a>
      <h4>Contato {{$index + 1}}</h4>
      <a href="" class="trash" ng-click="removeContato($index)"><span class="glyphicon glyphicon-trash"></span> Excluir</a>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-2">
      <h4>Tipo</h4>
      <select name="tipo-contato" class="form-control" ng-model="c.tipoId" ng-options="tipo.id as tipo.nome for tipo in tipos_contatos"></select>
    </div>
    <div class="col-xs-8 col-sm-5 col-md-5">
      <h4>Contato</h4>
      <input type="text" class="form-control" ng-model="c.contato" ui-mask="{{getMascaraContato(c.tipoId).mascara}}" model-view-value="true">
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5">
      <h4>Referência</h4>
      <input type="text" class="form-control" ng-model="c.referencia">
    </div>
  </div>
  <br>
  <div class="row" ng-class="{'rodape': pessoa.contatos.length}">
    <br>
    <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <button class="btn btn-default botao botao-esticado" ng-click="addContato()"><span class="glyphicon glyphicon-plus"></span> Novo Contato</button>
    </div>
    <br>
  </div>
  <br>
  <br>
  <!--<div class="row">-->
  <!--<div class="col-sm-3 col-md-3">-->
  <!--<button class="btn btn-default botao-esticado" ng-click="opt='endereco'"><span class="glyphicon glyphicon-chevron-left"></span> Voltar</button>-->
  <!--</div>-->
  <!--<div class="col-sm-6 col-md-6 text-center">Etapa 3 de 3</div>-->
  <!--<div class="col-sm-3 col-md-3">-->
  <!--<button class="btn btn-default botao-esticado" ng-click="salvar()" ng-disabled="!validar(pessoa)"><span class="glyphicon glyphicon-floppy-save"></span> Salvar</button>-->
  <!--</div>-->
  <!--</div>-->
</div>
