<div class="row">

  <div class="col-xs-12 col-sm-8 col-md-2">
    <div><h4>Código</h4></div>
    <!--<div class="input-group">-->
      <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="produto.codigo" readonly="true">
      <!--<span class="input-group-btn">-->
        <!--<button type="button" class="btn btn-default" ng-click="getFornecedor()"><span class="glyphicon glyphicon-search"></span></button>-->
      <!--</span>-->
    <!--</div>-->
  </div>

  <div class="col-xs-12 col-sm-8 col-md-5">
    <div><h4>Nome</h4></div>
    <div>
      <input type="text" class="form-control" ng-model="produto.nome">
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-5">
    <div><h4>Fornecedor</h4></div>
    <div class="input-group">
      <input type="text" class="form-control" aria-describedby="basic-addon2" ng-value="produto.fornecedor.apelido || produto.fornecedor.nome" readonly="true">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="removeFornecedor()"><span class="glyphicon glyphicon-remove"></span></button>
        <button type="button" class="btn btn-default" ng-click="getFornecedor()"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3">
    <div><h4>Cód. Barras</h4></div>
    <input type="text" class="form-control" ng-model="produto.codBarras">
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3">
    <div><h4>Tipo</h4></div>
    <select class="form-control" ng-model="produto.tipoId" ng-options="tipo.id as tipo.nome for tipo in tipos">
      <option value="" disabled>Escolha um tipo...</option>
    </select>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3">
    <div><h4>Grupo</h4></div>
    <div class="input-group">
      <input type="text" class="form-control" aria-describedby="basic-addon2" ng-value="produto.grupo.nome" readonly="true">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="getGrupo()"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3">
    <div><h4>Unidade</h4></div>
    <select class="form-control" ng-model="produto.unidadeId" ng-options="unidade.id as unidade.valor for unidade in unidades">
      <option value="" disabled>Escolha uma unidade...</option>
    </select>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3">
    <div><h4>Custo</h4></div>
    <div class="input-group">
      <span class="input-group-addon">R$</span>
      <input type="text" class="form-control" ng-model="produto.custo.valor" readonly="true" filtro-moeda>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="abrirCustos()"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3">
    <div><h4>Preço</h4></div>
    <div class="input-group">
      <span class="input-group-addon">R$</span>
      <input type="text" class="form-control" ng-model="produto.preco.valor" readonly="true" filtro-moeda>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="abrirPrecos()"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-3">
    <div><h4>Comissão</h4></div>
    <div class="input-group">
      <input type="text" class="form-control text-right" ng-model="produto.comissao" currency symbol="" number-only>
      <span class="input-group-addon">%</span>
    </div>
  </div>

  <div class="col-md-3">
    <div><h4>Ativo</h4></div>
    <div class="btn-group btn-toggle">
      <label class="btn btn-primary" ng-model="produto.ativo" uib-btn-radio="true"><span class="glyphicon glyphicon-eye-open"></span> Sim</label>
      <label class="btn btn-primary" ng-model="produto.ativo" uib-btn-radio="false"><span class="glyphicon glyphicon-eye-close"></span> Não</label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div><h4>Descrição</h4></div>
    <textarea class="col-md-12 form-control" rows="5" ng-model="produto.descricao"></textarea>
  </div>
</div>
