<ul class="hidden-xs nav nav-pills nav-justified nav-pills-claro" ng-init="opt = 'funcionario'">
  <li role="presentation" ng-class="opt === 'funcionario' ? 'active' : ''"><a href="" class="sombra-texto" ng-click="opt = 'funcionario'">Funcionário</a></li>
  <li role="presentation" ng-class="opt === 'produtos' ? 'active' : ''"><a href="" class="sombra-texto" ng-click="opt = 'produtos'">Serviços & Produtos</a></li>
  <li role="presentation" ng-class="opt === 'cliente' ? 'active' : ''"><a href="" class="sombra-texto" ng-click="opt = 'cliente'">Cliente</a></li>
  <li role="presentation" ng-class="opt === 'pagamento' ? 'active' : ''"><a href="" class="sombra-texto" ng-click="opt = 'pagamento'">Pagamento</a></li>
</ul>
<div class="dropdown visible-xs-inline" ng-init="label='Funcionário'">
  <button class="btn btn-default botao-esticado dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{label}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="" ng-click="opt = 'funcionario'; label = 'Funcionário'"><span class="glyphicon glyphicon-ok" ng-show="opt==='funcionario'"></span>&nbsp; Funcionário</a></li>
    <li><a href="" ng-click="opt = 'produtos'; label = 'Produtos'"><span class="glyphicon glyphicon-ok" ng-show="opt==='produtos'"></span>&nbsp;Serviços & Produtos</a></li>
    <li><a href="" ng-click="opt = 'cliente'; label = 'Cliente'"><span class="glyphicon glyphicon-ok" ng-show="opt==='cliente'"></span>&nbsp; Cliente</a></li>
    <li><a href="" ng-click="opt = 'pagamento'; label = 'Pagamento'"><span class="glyphicon glyphicon-ok" ng-show="opt==='pagamento'"></span>&nbsp; Pagamento</a></li>
  </ul>
</div>
<br>

<!--FUNCIONARIO-->
<div ng-show="opt === 'funcionario'">
  <div class="row">
    <div class="col-sm-12 col-md-12 cabecalho">
      <h4>Informações</h4>
      <!--<a href="" class="trash" ng-click="limparInfos()"><span class="glyphicon glyphicon-erase"></span> Limpar</a>-->
    </div>
    <div class="col-sm-3">
      <h4>Código</h4>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="ticket.novoTicket.funcionario.codigo" keys-shortcuts enter="buscarFuncionarioPorCodigo(ticket.novoTicket.funcionario.codigo)">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="buscarFuncionario()"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </div>
    <div class="col-sm-9">
      <h4>Nome</h4>
      <input type="text" class="form-control" ng-model="ticket.novoTicket.funcionario.nome" readonly>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6 text-center">Etapa 1 de 4</div>
    <div class="col-sm-3 col-md-3">
      <button class="btn btn-default botao-esticado" ng-click="opt='produtos'">
        Avançar <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>

<!--PRODUTO-->
<div ng-show="opt === 'produtos'">
  <div class="row">
    <div class="col-sm-3">
      <h4>Código</h4>
      <div class="input-group">
        <input type="text" name="cdProduto" class="form-control" ng-model="ticket.cdProduto" keys-shortcuts enter="buscarProdutoPorCodigo(ticket.cdProduto)">
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="buscarProduto()" tabindex="-1">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </span>
      </div>
    </div>
    <div class="col-sm-7">
      <h4>Nome</h4>
      <input type="text" name="nmProduto" class="form-control" placeholder="Nome do produto" ng-model="ticket.tempProduto"
             keys-shortcuts enter="ticket.focarQuantidade()"
             uib-typeahead="produto as produto.nome for produto in buscarProdutoPorNome($viewValue)"
             typeahead-min-length="3"
             typeahead-wait-ms="300"
             typeahead-on-select="selectProduto($item)">
    </div>
    <div class="col-sm-2">
      <h4>Qtd</h4>
      <input type="text" name="qtdProduto" class="form-control" ng-model="ticket.novoItem.quantidade" number-only currency symbol="''" keys-shortcuts enter="addItem()">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="container-tabela">
        <table class="tabela tabela-bordered tabela-esticada tabela-produtos">
          <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Qtd.</th>
            <th>Preço</th>
            <th>Total</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="i in ticket.novoTicket.items">
            <td data-label="Código">{{i.produto.codigo}}</td>
            <td data-label="Nome">{{i.produto.nome}}</td>
            <td class="editable-td hidden-xs" editable-td>
              <span>{{i.quantidade | currency : ''}}</span>
              <input currency symbol="''" number-only type="text" ng-model="i.quantidade" ng-blur="i.quantidade <= 0 || !i.quantidade ? i.quantidade = 1 : ''">
            </td>
            <td data-label="Código" class="visible-xs-block">{{i.quantidade | currency : ''}}</td>
            <td data-label="Preço">{{i.precoProduto.valor | currency: 'R$ '}}</td>
            <td data-label="Total">{{i.getTotalSemDesconto() | currency: 'R$ '}}</td>
            <td class="hidden-xs">
              <a href="" confirm="'Bla bla bla bla doideira doida'" confirm-popup title="Atenção" message="Deseja remover o item?" ok-func="removeItem(i)" ok-args="i" placement="left">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
            <td class="visible-xs-block">
              <button class="btn btn-default pull-right" ng-click="removeItem(i)"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
            </td>
          </tr>
          <tr class="hidden-xs" ng-repeat="n in getNumber(pagination.max > ticket.novoTicket.items.length ? pagination.max - ticket.novoTicket.items.length : 0) track by $index">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12">
      <h1 class="pull-right">Total: {{ticket.novoTicket.getValorTotal() | currency: 'R$ '}}</h1>
    </div>
  </div>

  <div class="row rodape-salvar">
    <div class="col-sm-3 col-md-3">
      <button class="btn btn-default botao-esticado" ng-click="opt='funcionario'">
        <span class="glyphicon glyphicon-chevron-left"></span> Voltar
      </button>
    </div>
    <div class="col-sm-6 col-md-6 text-center">Etapa 2 de 4</div>
    <div class="col-sm-3 col-md-3">
      <button class="btn btn-default botao-esticado" ng-click="opt='cliente'">
        Avançar <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>

<!--CLIENTE-->
<div ng-show="opt === 'cliente'">
  <div class="row">
    <div class="col-sm-12 col-md-12 cabecalho">
      <h4>Informações</h4>
      <!--<a href="" class="trash" ng-click="limparInfos()"><span class="glyphicon glyphicon-erase"></span> Limpar</a>-->
    </div>
    <div class="col-sm-2">
      <h4>Código</h4>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="ticket.novoTicket.cliente.codigo" keys-shortcuts enter="buscarClientePorCodigo(ticket.novoTicket.cliente.codigo)">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="buscarCliente()"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </div>
    <div class="col-sm-6">
      <h4>Nome</h4>
      <input type="text" class="form-control" ng-model="ticket.novoTicket.cliente.nome" readonly>
    </div>
    <div class="col-sm-4">
      <h4>Apelido</h4>
      <input type="text" class="form-control" ng-model="ticket.novoTicket.cliente.apelido" readonly>
    </div>
    <div class="col-sm-3">
      <h4>Tipo</h4>
      <select class="form-control" ng-model="ticket.novoTicket.cliente.tipo" readonly>
        <option value="F">Físico</option>
        <option value="F">Jurídico</option>
      </select>
    </div>
    <div class="col-sm-3">
      <h4>CPF</h4>
      <input type="text" class="form-control" ng-model="ticket.novoTicket.cliente.cpf" readonly>
    </div>
    <div class="col-sm-3">
      <h4>RG</h4>
      <input type="text" class="form-control" ng-model="ticket.novoTicket.cliente.rg" readonly>
    </div>
    <div class="col-sm-3">
      <h4>CNPJ</h4>
      <input type="text" class="form-control" ng-model="ticket.novoTicket.cliente.cnpj" readonly>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <button class="btn btn-default botao-esticado" ng-click="opt='produtos'">
        <span class="glyphicon glyphicon-chevron-left"></span> Voltar
      </button>
    </div>
    <div class="col-sm-6 col-md-6 text-center">Etapa 3 de 4</div>
    <div class="col-sm-3 col-md-3">
      <button class="btn btn-default botao-esticado" ng-click="opt='pagamento'">
        Avançar <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
</div>

<!--PAGAMENTO-->
<div ng-show="opt === 'pagamento'">
  <div class="row">
    <div class="col-sm-3">
      <h4>Total</h4>
      <input type="text" class="form-control" ng-value="ticket.novoTicket.getValorTotal() | currency: 'R$ '" readonly>
    </div>
    <div class="col-sm-3">
      <h4>Tipo</h4>
      <select class="form-control"></select>
    </div>
    <div class="col-sm-3">
      <h4>Parcelas</h4>
      <select class="form-control" ng-options="n as n for n in [1, 2, 3, 4, 5]" ng-model="parcelas"></select>
    </div>
    <div class="col-sm-3">
      <h4>&nbsp;</h4>
      <button class="btn btn-default btn-block"><span class="glyphicon glyphicon-credit-card"></span> Adicionar Pagamento</button>
    </div>

    <div class="col-xs-12 cabecalho-parcela" ng-repeat="p in (parcelas ? getNumber(parcelas) : 0) track by $index">
      <h4>Parcela {{$index + 1}}</h4>
      <div class="row">
        <div class="col-sm-4">
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <button class="btn btn-default botao-esticado" ng-click="opt='cliente'">
        <span class="glyphicon glyphicon-chevron-left"></span> Voltar
      </button>
    </div>
    <div class="col-sm-6 col-md-6 text-center">Etapa 4 de 4</div>
    <div class="col-sm-3 col-md-3">
      <button class="btn btn-default botao-esticado" ng-click="ticket.salvar()">
        <span class="glyphicon glyphicon-floppy-save"></span> Salvar
      </button>
    </div>
  </div>
</div>

