<div ng-controller="MenuLateralCtrl as menuLateral">
  <div class="main-header visible-xs-block">
    <button class="hamburger" ng-class="{'fechar': !minimizado}" ng-click="menuLateral.menuRetratil()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div id="fundo-escuro-menu" class="dark-div hidden-lg" ng-class="minimizado ? 'hide-dark-div' : 'show-dark-div'" ng-click="menuLateral.menuRetratil()"></div>
  <div id="menu-lateral" ng-class="minimizado ? 'menu-lateral-fechado' : 'menu-lateral-aberto'">
    <div id="menu-lateral-conteudo">
      <div class="header hidden-xs" ng-click="menuLateral.menuRetratil()">
        <div class="logotipo"></div>
        <span class="seta"><div class="texto"></div><div class="linha1"></div><div class="linha2"></div></span>
        <span class="info">(clique aqui para esconder)</span>
      </div>
      <div class="controle">

        <div class="btn btn-default hidden-xs ng-class:{'ativo': currentPath === '/'}" redireciona="/" title="Home">
          Home <span class="glyphicon glyphicon-home"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/pdv'}" redireciona="/pdv" title="PDV">
          PDV <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath.indexOf('/ticket') >= 0}" redireciona="/ticket/open" title="Ticket">
          Ticket <span class="glyphicon glyphicon-barcode"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/produtos'}" redireciona="/produtos" title="Serviços & Produtos">
          Serviços & Produtos <span class="glyphicon glyphicon-tags"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/movimentacao'}" redireciona="/movimentacao" title="Movimentação">
          Movimentação <span class="glyphicon glyphicon-tasks"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/pessoas'}" redireciona="/pessoas" title="Pessoas">
          Pessoas <span class="glyphicon glyphicon-user"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/crm'}" redireciona="/crm" title="CRM">
          CRM <span class="glyphicon glyphicon-thumbs-up"></span>
        </div>

        <!--<div class="btn btn-default ng-class:{'ativo': currentPath === '/relatorios'}" redireciona="/relatorios" title="Relatórios">-->
          <!--Relatórios <span class="glyphicon glyphicon-print"></span>-->
        <!--</div>-->

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/agenda'}" redireciona="/agenda" title="Agenda">
          Agenda <span class="glyphicon glyphicon-calendar"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/configuracoes'}" redireciona="/configuracoes" title="Configurações">
          Configurações <span class="glyphicon glyphicon-cog"></span>
        </div>

        <div class="btn btn-default" ng-click="menuLateral.logout()" title="Efetuar Logout">
          Logout <span class="glyphicon glyphicon-log-out"></span>
        </div>

      </div>
      <div id="assinatura"><div>site design / logo © 2016 Futura <br>versão {{versao}}</div></div>
    </div>
  </div>
</div>
