<div ng-controller="MenuLateralCtrl as menuLateral">
  <div class="main-header visible-xs-block">
    <button class="hamburger" ng-class="{'fechar': !minimizado}" ng-click="menuLateral.menuRetratil()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="dark-div hidden-lg" ng-class="minimizado ? 'hide-dark-div' : 'show-dark-div'" ng-click="menuLateral.menuRetratil()"></div>
  <div id="menu-lateral" ng-class="minimizado ? 'menu-lateral-fechado' : 'menu-lateral-aberto'">
    <div id="menu-lateral-conteudo">
      <div class="logotipo" ng-click="menuLateral.menuRetratil()"></div>
      <div class="controle">

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/'}" redireciona="/">
          Home <span class="glyphicon glyphicon-home"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/ticket'}" redireciona="/ticket">
          Ticket <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/produtos'}" redireciona="/produtos">
          Serviços & Produtos <span class="glyphicon glyphicon-tags"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/clientes'}" redireciona="/clientes">
          Clientes <span class="glyphicon glyphicon-user"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/relatorios'}" redireciona="/relatorios">
          Relatórios <span class="glyphicon glyphicon-print"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/agenda'}" redireciona="/agenda">
          Agenda <span class="glyphicon glyphicon-calendar"></span>
        </div>

        <div class="btn btn-default ng-class:{'ativo': currentPath === '/configuracoes'}" redireciona="/configuracoes">
          Configurações <span class="glyphicon glyphicon-cog"></span>
        </div>

      </div>
      <div id="assinatura"><div>site design / logo © 2016 Futura <br>versão 1.0</div></div>
    </div>
  </div>
</div>
