<div class="meu-modal">

  <div class="header">
    <div class="title"><span class="glyphicon glyphicon-user"></span> Editar Pessoa <span class="glyphicon glyphicon-remove close" ng-click="fechar()"></span></div>
  </div>

  <div class="body form-clientes">

    <div class="condensar-rows">
      <div ng-include="'partials/formEditarPessoa.html'"></div>
    </div>

  </div>

  <div class="control">
    <button class="btn btn-default" ng-click="fechar()"><span class="glyphicon glyphicon-remove"></span> Fechar</button>
    <button class="btn btn-default" ng-click="salvar()"><span class="glyphicon glyphicon-floppy-save"></span> Gravar</button>
  </div>

</div>
