<div class="meu-modal">
  <div class="header">
    <div class="title center-title">
      <span class="glyphicon glyphicon-credit-card"></span>&nbsp; Custo
      <span class="glyphicon glyphicon-remove close" ng-click="fechar()"></span>
    </div>
  </div>
  <div class="sub-header">
    <div class="row">

      <div class="col-xs-12 col-sm-3">
        <h4>Cód. Produto</h4>
        <!--<div class="input-group">-->
          <input type="text" readonly="true" class="form-control" aria-describedby="basic-addon2" ng-value="produto.codigo">
          <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" tabindex="-1" ng-click="getProdutoPorCodigo(produto.codigo)"><span class="glyphicon glyphicon-search"></span></button>-->
          <!--</span>-->
        <!--</div>-->
      </div>

      <div class="col-xs-12 col-sm-6">
        <h4>Valor</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="custo.valor">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="addCusto()"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
        </div>
      </div>

    </div>
  </div>
  <div class="body">

    <table class="tabela tabela-bordered" width="100%" cellspacing="0s">
      <thead>
      <tr>
        <th>Data</th>
        <th>Usuário</th>
        <th>Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="custo in custos">
        <td>{{custo.data | date}}</td>
        <td>{{custo.usuario.nome}}</td>
        <td>{{custo.valor | currency:'R$ '}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="control">
    <button class="btn btn-default" ng-click="fechar()"><span class="glyphicon glyphicon-ok"></span> Fechar</button>
  </div>
</div>
