<div class="meu-modal">
  <div class="header">
    <div class="title">
      <span class="glyphicon glyphicon-bookmark flag" ng-style="{'color': evento.color}"></span>
      <span class="espacador"></span>{{evento.title}} ({{evento.start | date : "HH:mm"}} - {{evento.end | date : "HH:mm"}})
      <span class="glyphicon glyphicon-remove close" ng-click="close()"></span>
    </div>
  </div>
  <div class="body">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5">
        <h4>Título</h4>
        <input class="form-control" type="text" ng-model="evento.title">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <h4>Data</h4>
        <div class="input-group">
          <span class="calendario"><input id="inicial" type="text" class="form-control" name="data" uib-datepicker-popup="{{format}}" datepicker-template-url="partials/datepicker/index.html" ng-change="setData()" on-open-focus="false" is-open="popupData" ng-model="data" datepicker-options="dateOptions" show-button-bar="true" ng-required="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar" alt-input-formats="altInputFormats" /></span>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="popupData = !popupdata"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <h4>Início</h4>
        <div uib-timepicker ng-model="evento.start" ng-change="startChanged()" show-meridian="false" show-spinners="false"></div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <h4>Término</h4>
        <div uib-timepicker ng-model="evento.end" ng-change="endChanged()" show-meridian="false" show-spinners="false"></div>
      </div>
    </div>

    <br>

    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-2">
        <h4>Código</h4>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="evento.cliente.codigo" keys-shortcuts enter="setPessoa(categoriaPessoa.cliente.id)">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="setPessoa(categoriaPessoa.cliente.id)"><span class="glyphicon glyphicon-refresh"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h4>Cliente</h4>
        <div class="input-group">
          <input type="text" class="form-control" tabindex="-1" aria-describedby="basic-addon2" readonly="true" ng-model="evento.cliente.nome">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="getPessoa(categoriaPessoa.cliente.id)"><span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-default" tabindex="-1" ng-click="removePessoa(categoriaPessoa.cliente.id)"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-4">
        <h4>{{evento.cliente.contatos[0].tipoContato.nome || 'Contato'}}</h4>
        <input class="form-control telefone" type="text" tabindex="-1" readonly="true" ng-model="evento.cliente.contatos[0].contato">
      </div>

      <div class="col-xs-12 col-sm-3 col-md-2">
        <h4>Código</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="evento.funcionario.codigo" keys-shortcuts enter="setPessoa(categoriaPessoa.funcionario.id)">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="setPessoa(categoriaPessoa.funcionario.id)"><span class="glyphicon glyphicon-refresh"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h4>Funcionário</h4>
        <div class="input-group">
          <input type="text" class="form-control" tabindex="-1" aria-describedby="basic-addon2" readonly="true" ng-model="evento.funcionario.nome">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="getPessoa(categoriaPessoa.funcionario.id)"><span class="glyphicon glyphicon-search"></span></button>
          <!--</span>-->
          <!--<span class="input-group-btn">-->
            <button class="btn btn-default" tabindex="-1" ng-click="removePessoa(categoriaPessoa.funcionario.id)"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-4">
        <h4>{{evento.funcionario.contatos[0].tipoContato.nome || 'Contato'}}</h4>
        <input class="form-control telefone" type="text" tabindex="-1" readonly="true" ng-model="evento.funcionario.contatos[0].contato">
      </div>

      <div class="col-xs-12 col-sm-3 col-md-2">
        <h4>Código</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="evento.produto.codigo" keys-shortcuts enter="setProduto()">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="setProduto()"><span class="glyphicon glyphicon-refresh"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h4>Produto</h4>
        <div class="input-group">
          <input type="text" class="form-control" tabindex="-1" aria-describedby="basic-addon2" readonly="true" ng-model="evento.produto.nome">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="getProduto()"><span class="glyphicon glyphicon-search"></span></button>
          <!--</span>-->
          <!--<span class="input-group-btn">-->
            <button class="btn btn-default" tabindex="-1" ng-click="removeProduto()"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-4">
        <h4>Evento</h4>
        <!--<select class="form-control selectpicker" title="Escolha um tipo" ng-model="evento.tipoEvento" ng-options="tipo.title for tipo in tipos track by tipo.id" ng-change="selectTipoEvento(evento.tipoEvento)" data-live-search="true" data-container="body"></select>-->
        <select class="form-control selectpicker" title="Escolha um tipo" ng-model="evento.tipoId" ng-change="selectTipoEvento(evento.tipoId)" data-live-search="true" data-container="body">
          <option value="{{tipo.id}}" data-content="<span class='glyphicon glyphicon-stop' style='color:{{tipo.color}}'></span> {{tipo.title}}" ng-repeat="tipo in tipos track by tipo.id">{{tipo.title}}</option>
        </select>
      </div>

    </div>

    <br>

    <div>
      <h4>Descrição</h4>
      <textarea class="form-control" name="" id="" rows="3" ng-model="evento.description"></textarea>
    </div>
  </div>
  <div class="control">
    <button class="btn btn-default" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> Fechar</button>
    <button class="btn btn-default" ng-click="excluir()"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
    <button class="btn btn-default" ng-click="ok()"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
  </div>
</div>
