<div>
  <div class="header">
    <div class="title center-title">
      Preço
      <span class="glyphicon glyphicon-remove close" ng-click="fechar()"></span>
    </div>
  </div>
  <div class="sub-header">
    <div class="row">

      <div class="col-xs-12 col-sm-3">
        <h4>Cód. Produto</h4>
        <div class="input-group">
          <input type="text" readonly="true" class="form-control" aria-describedby="basic-addon2" ng-value="produto.codigo">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="getProdutoPorCodigo(produto.codigo)"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h4>Valor</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="preco.valor">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="addPreco()"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
        </div>
      </div>

    </div>
  </div>
  <div class="body">

    <table class="tabela table-bordered" width="100%" cellspacing="0s">
      <thead>
      <tr>
        <th>Data</th>
        <th>Usuário</th>
        <th>Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="preco in precos" ng-click="selecionarProduto(produto)">
        <td>{{preco.data | date}}</td>
        <td>{{preco.usuario.nome}}</td>
        <td>{{preco.valor | currency:'R$ '}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="control">
    <button class="btn btn-default" ng-click="fechar()"><span class="glyphicon glyphicon-ok"></span> Fechar</button>
  </div>
</div>
