<div>
  <div class="header">
    <div class="title">
      <span class="glyphicon glyphicon-bookmark flag" ng-style="{'color': evento.color}"></span>
      {{evento.title}} ({{evento.start | date : "HH:mm"}} - {{evento.end | date : "HH:mm"}})
      <span class="glyphicon glyphicon-remove close" ng-click="close()"></span>
    </div>
  </div>
  <div class="body">

    <div class="row">
      <div class="col-sm-12 col-sm-6">
        <h4>Título</h4>
        <input class="form-control" type="text" ng-model="evento.title">
      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>Início</h4>
        <div uib-timepicker ng-model="evento.start" ng-change="startChanged()" show-meridian="false" show-spinners="false"></div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h4>Término</h4>
        <div uib-timepicker ng-model="evento.end" ng-change="endChanged()" show-meridian="false" show-spinners="false"></div>
      </div>
    </div>

    <br>

    <div class="row">

      <div class="col-xs-12 col-sm-3 col-md-2">
        <h4>Código</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="evento.cliente.codigo">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="getPessoa()"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h4>Cliente</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" readonly="true" ng-model="evento.cliente.nome">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="getPessoa()"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-4">
        <h4>{{evento.cliente.contatos[0].tipoContato.nome}}</h4>
        <input class="form-control telefone" type="text" readonly="true" ng-model="evento.cliente.contatos[0].contato">
      </div>

      <div class="col-xs-12 col-sm-3 col-md-2">
        <h4>Código</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="evento.funcionario.codigo">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="getPessoa()"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h4>Funcionário</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" readonly="true" ng-model="evento.funcionario.nome">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="getPessoa()"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-4">
        <h4>{{evento.funcionario.contatos[0].tipoContato.nome}}</h4>
        <input class="form-control telefone" type="text" readonly="true" ng-model="evento.funcionario.contatos[0].contato">
      </div>

      <div class="col-xs-12 col-sm-3 col-md-2">
        <h4>Código</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" ng-model="evento.produto.codigo">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click="getPessoa()"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h4>Produto</h4>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="basic-addon2" readonly="true" ng-model="evento.produto.nome">
          <span class="input-group-btn">
            <button class="btn btn-default" tabindex="-1" ng-click=""><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-4">
        <h4>Evento</h4>
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-default btn-dropdown" uib-dropdown-toggle>
            {{evento.tipoEvento.title}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-tipo">
            <li role="menuitem" ng-repeat="tipo in tipos"><a href="" ng-click="selectTipoEvento(tipo)">{{tipo.title}}</a></li>
          </ul>
        </div>
      </div>

    </div>

    <br>

    <div>
      <h4>Descrição</h4>
      <textarea class="form-control" name="" id="" rows="3" ng-model="evento.description"></textarea>
    </div>
  </div>
  <div class="control">
    <button class="btn btn-default" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> Fechar</button>
    <button class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
    <button class="btn btn-default" ng-click="ok()"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
  </div>
</div>
