<div>
  <div class="header">
    <div class="title">
      {{title || 'Aviso'}}
      <span class="glyphicon glyphicon-remove close" ng-click="cancel()"></span>
    </div>
  </div>
  <div class="body">
    <span class="glyphicon glyphicon-question-sign"></span>
    <p style="display: inline-block;">{{message}}</p>
  </div>
  <div class="control">
    <button class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> {{negative || 'Não'}}</button>
    <button class="btn btn-default" ng-click="ok()"><span class="glyphicon glyphicon-ok"></span> {{positive || 'Sim'}}</button>
  </div>
</div>
