<div style="overflow-x: auto; overflow-y: hidden; margin: 30px 0 60px 0;">
  <table id="{{idTabela}}" class="tabela table-bordered">
    <thead>
    <tr>
      <th ng-repeat="h in head">{{h}}</th>
      <th ng-if="callbackEditar"></th>
      <th ng-if="callbackExcluir"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="b in body" ng-controller="PopoverTabelaCtrl as popover" uib-popover-template="popover.templateUrl" popover-is-open="popover.isOpen"  popover-title="{{b.nome}}" popover-trigger="outsideClick">
      <td ng-repeat="(key, value) in b" ng-click="click(b)">
        {{value.toString() | truncate:50}}
      </td>
      <td ng-if="callbackEditar">
        <a href="" ng-click="callbackEditar(b); $event.stopPropagation();">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </td>
      <td ng-if="callbackExcluir">
        <a href="" ng-click="callbackExcluir(b); $event.stopPropagation();">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
