<div class="tela" id="{{id}}">

  <div class="hidden-xs header">
    <div class="content">
      <h1><span class="glyphicon" ng-class="icon"></span> {{titulo}}</h1>
      <h4>{{subtitulo}}</h4>
    </div>
    <div class="pdv-infos" ng-show="currentPath === '/pdv'">
      <p>Usuario</p>
      <h4>{{usuario.nome}}</h4>
      <br>
      <p>{{relogio | date: "EEEE,"}}</p>
      <p>{{relogio | date: "dd 'de' MMMM 'de' yyyy"}}</p>
      <br>
      <p>{{relogio | date: 'HH:mm:ss'}}</p>
    </div>
  </div>

  <div class="visible-xs-block header header-xs">
    <div class="content">
      <h1><span class="glyphicon" ng-class="icon"></span> {{titulo}}</h1>
    </div>
  </div>

  <div class="body">
    <ng-transclude></ng-transclude>
  </div>

  <div class="footer" ng-show="showFooter">
    <span><a href="http://www.futuraagencia.com.br/" target="_blank">Futura Agência</a> - 2016 - Belíssima Gestão de Salões - ver {{versao}}</span>
  </div>

</div>
