<span ng-controller="ConfigAgendaCtrl as agenda">
  <div class="col-xs-12">
    <h3>Visualização da agenda</h3>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="preview">
      <img src="images/agenda/timeline.png" alt="" class="timeline-day img-responsive" ng-click="agenda.click('timelineDay')">
      <h4 class="name">Linha do Tempo</h4>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="preview">
      <img src="images/agenda/agenda-day.png" alt="" class="agenda-day img-responsive" ng-click="agenda.click('agendaDay')">
      <h4 class="name">Cascata</h4>
    </div>
  </div>
</span>
