<span ng-controller="ComandasCtrl as comandas" id="comandas">
  <div class="col-md-7">
    <table class="tabela tabela-esticada tabela-bordered">
      <thead>
        <tr>
          <th>Código da comanda</th>
          <th>Data de cadastro</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="comanda in comandas.arrayComandas">
          <td>{{comanda.codigoDeBarras}}</td>
          <td>{{comanda.dataCadastro | date: 'short'}}</td>
          <td>
            <a href="" confirm-popup title="Atenção" message="Deseja remover o item?" ok-func="comandas.removerComanda(comanda.id)" placement="left">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
        <tr ng-repeat="n in getNumber(pagination.max - comandas.arrayComandas.length) track by $index">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <ul uib-pagination total-items="pagination.total" ng-model="pagination.current" items-per-page="pagination.max" max-size="5" ng-change="pagination.pageChanged()" class="pagination-sm pull-right" boundary-link-numbers="true" rotate="true" force-ellipses="true" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
  </div>
  <div class="col-md-5">
    <div class="comanda">
      <div>
        <input type="text" class="form-control codigo" placeholder="Código da comanda" ng-model="comandas.novaComanda.codigoDeBarras" keys-shortcuts enter="comandas.addComanda()">
        <button class="btn btn-default btn-block" ng-click="comandas.addComanda()"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
      </div>
    </div>
  </div>
</span>
