<span ng-controller="ConfigEventosCtrl as eventos">
  <div class="col-xs-3">
    <button class="btn btn-default btn-block" ng-click="eventos.atualizar()"><span class="glyphicon glyphicon-refresh"></span> Atualizar</button>
  </div>

  <div class="col-xs-3 col-xs-push-6">
    <button class="btn btn-default btn-block" ng-click="eventos.abrirModalTipoEvento()"><span class="glyphicon glyphicon-plus"></span> Cadastrar</button>
  </div>

  <div class="col-xs-12" style="margin-top: 30px">
    <table class="tabela tabela-bordered tabela-esticada">
      <thead>
        <tr>
          <th uib-tooltip="Fundo" tooltip-append-to-body="true"><span class="glyphicon glyphicon-text-background"></span></th>
          <th uib-tooltip="Texto" tooltip-append-to-body="true"><span class="glyphicon glyphicon-text-color"></span></th>
          <th>Nome do Evento</th>
          <th>Cadastrado em</th>
          <th>Atualizado em</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="evento in eventos.tipos">
          <td uib-tooltip="{{evento.color}}" tooltip-append-to-body="true">
            <i class="color-preview" ng-style="{'background-color': evento.color}"></i>
          </td>
          <td uib-tooltip="{{evento.textColor}}" tooltip-append-to-body="true">
            <i class="color-preview" ng-style="{'background-color': evento.textColor}"></i>
          </td>
          <td>{{evento.title}}</td>
          <td>{{evento.data | date: 'short'}}</td>
          <td>{{evento.update ? (evento.update | date: 'short') : 'Indisponível'}}</td>
          <td><a href="" ng-click="eventos.abrirModalTipoEvento(evento)"><span class="glyphicon glyphicon-pencil"></span></a></td>
          <td><a href="" ng-click="eventos.excluir(evento)"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        <tr ng-repeat="n in getNumber(15 - eventos.tipos.length) track by $index">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--MODAL FORMA-->
    <div class="modal meu-modal fade" id="modalTipoEvento" role="dialog" aria-labelledby="modalTipoEvento">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="header">
            <div class="title"><span class="glyphicon glyphicon-pencil"></span> Tipo de Evento <span
              class="glyphicon glyphicon-remove close" data-dismiss="modal"></span></div>
          </div>
          <div class="body">

            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Nome</h3>
                  <input type="text" class="form-control" ng-model="eventos.novo.title">
                </div>

                <div class="col-xs-6">
                  <h3>Fundo</h3>
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="eventos.novo.color" colorpicker="hex">
                    <span class="input-group-addon">
                      <i class="color-preview" ng-style="{'background-color': eventos.novo.color}"></i>
                    </span>
                  </div>
                </div>

                <div class="col-xs-6">
                  <h3>Texto</h3>
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="eventos.novo.textColor" colorpicker="hex">
                    <span class="input-group-addon">
                      <i class="color-preview" ng-style="{'background-color': eventos.novo.textColor}"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-6">
              <h3>Preview</h3>
              <div class="evento" ng-style="{'background-color': eventos.novo.color, 'color': eventos.novo.textColor}">
                <h5 class="title">Lorem ipsum dolor sit amet</h5>
                <p class="text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu dignissim arcu.
                </p>
              </div>
            </div>

          </div>
          <div class="control">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"></span> Cancelar
            </button>
            <button type="button" class="btn btn-primary" ng-click="eventos.salvar(eventos.novo)">
              <span class="glyphicon glyphicon-floppy-save"></span> Salvar
            </button>
          </div>
        </div>
      </div>
    </div>
  <!--FIM MODAL-->

</span>
