<tela id="clientes" class="form-clientes" icon="glyphicon-user" titulo="Pessoas" subtitulo="Consulta, cadastro e edição de pessoas." show-footer="true">

  <div class="conteudo-tela">
    <ul class="nav nav-tabs" ng-init="opcao = 'novo'">
      <li role="presentation" ng-class="opcao === 'novo' ? 'active' : ''"><a href="" ng-click="opcao = 'novo'">Novo</a></li>
      <li role="presentation" ng-class="opcao === 'editar' ? 'active' : ''"><a href="" ng-click="opcao = 'editar'">Editar</a></li>
    </ul>
    <div class="conteudo-nav condensar-rows">
      <div ng-show="opcao === 'novo'" ng-include="'partials/formNovaPessoa.html'"></div>

      <div ng-show="opcao === 'editar'">
        <div class="container-tabela">
          <table class="tabela tabela-bordered tabela-esticada">
            <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Apelido</th>
              <!--<th>Endereço</th>-->
              <th>CPF</th>
              <th>Contato</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pessoa in pessoas">
              <td data-label="Código">{{pessoa.codigo}}</td>
              <td data-label="Nome">{{pessoa.nome | truncate:40}}</td>
              <td data-label="Apelido">{{pessoa.apelido}}</td>
              <!--<td data-label="Endereço">{{pessoa.getEnderecoPrincipalEmString()}}</td>-->
              <td data-label="CPF">{{pessoa.cpf}}</td>
              <td data-label="Contato">{{pessoa.getContatoPrincipalEmString()}}</td>
              <td class="hidden-xs">
                <a href="" ng-click="editar(pessoa)" class="hidden-xs">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </td>
              <td class="hidden-xs">
                <a href="" ng-click="excluir(pessoa)" class="hidden-xs">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
              <td class="visible-xs-inline-block">
                <button class="btn pull-right" ng-click="excluir(pessoa)"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
                <button class="btn pull-right" ng-click="editar(pessoa)"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
              </td>
            </tr>
            <tr class="hidden-xs" ng-repeat="n in getNumber(pagination.max - pessoas.length) track by $index" ng-if="pessoas.length < pagination.max">
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </div>
        <ul class="pull-right" uib-pagination total-items="pagination.total" items-per-page="pagination.max" ng-model="pagination.current" ng-change="pageChanged()" next-text="próximo" previous-text="anterior"></ul>
      </div>
    </div>
  </div>

</tela>
