<tela id="clientes" class="form-clientes" icon="glyphicon-user" titulo="Clientes" subtitulo="Consulta, cadastro e edição de clientes." show-footer="true">

  <div class="conteudo-tela">
    <ul class="nav nav-tabs" ng-init="opcao = 'novo'">
      <li role="presentation" ng-class="opcao === 'novo' ? 'active' : ''"><a href="" ng-click="opcao = 'novo'">Novo</a></li>
      <li role="presentation" ng-class="opcao === 'editar' ? 'active' : ''"><a href="" ng-click="opcao = 'editar'">Editar</a></li>
    </ul>
    <div class="conteudo-nav condensar-rows">
      <div ng-show="opcao === 'novo'" ng-include="'partials/formNovaPessoa.html'"></div>
      <!--<tabela ng-show="opcao === 'editar'" id-tabela="tabela-clientes" head="tabela.head" body="tabela.body" callback-editar="editar" callback-excluir="excluir"></tabela>-->

      <table class="tabela tabela-bordered" ng-show="opcao === 'editar'" style="width: 100%">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Contato</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pessoa in tabela.body">
            <td>{{pessoa.codigo}}</td>
            <td>{{pessoa.apelido || pessoa.nome}}</td>
            <td>{{pessoa.endereco}}</td>
            <td>{{pessoa.contato}}</td>
            <td>
              <a href="" ng-click="editar(pessoa)">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>
            <td>
              <a href="" ng-click="excluir(pessoa)">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</tela>
