<tela id="configuracoes" icon="glyphicon-cog" titulo="Configurações"
      subtitulo="Consulta, cadastro e edição de usuários e perfis." show-footer="true">

  <div class="conteudo-tela">
    <ul class="nav nav-tabs" ng-init="opcao = 'usuarios'">
      <li role="presentation" ng-class="opcao === 'usuarios' ? 'active' : ''">
        <a href="" ng-click="opcao = 'usuarios'">Usuários</a>
      </li>
      <li role="presentation" ng-class="opcao === 'perfis' ? 'active' : ''">
        <a href="" ng-click="opcao = 'perfis'">Perfis</a>
      </li>
      <li role="presentation" ng-class="opcao === 'enderecos' ? 'active' : ''">
        <a href="" ng-click="opcao = 'enderecos'">Endereços</a>
      </li>
      <li role="presentation" ng-class="opcao === 'calendario' ? 'active' : ''">
        <a href="" ng-click="opcao = 'calendario'">Calendario</a>
      </li>
      <li role="presentation" ng-class="opcao === 'financeiro' ? 'active' : ''">
        <a href="" ng-click="opcao = 'financeiro'">Financeiro</a>
      </li>
    </ul>
    <div class="conteudo-nav condensar-rows">

      <div class="col-md-12" ng-if="opcao === 'usuarios'" ng-include="'partials/configuracoes/usuarios.html'"></div>

      <div class="col-md-12" ng-if="opcao === 'perfis'" ng-include="'partials/configuracoes/perfis.html'"></div>

      <div class="col-md-12" ng-if="opcao === 'enderecos'" ng-include="'partials/configuracoes/enderecos.html'"></div>

      <div class="col-md-12" ng-if="opcao === 'calendario'" ng-include="'partials/configuracoes/calendario.html'"></div>

      <div class="col-md-12" ng-if="opcao === 'financeiro'" ng-include="'partials/configuracoes/financeiro.html'"></div>

    </div>

</tela>


