<tela id="crm" icon="glyphicon-thumbs-up" titulo="CRM" subtitulo="" show-footer="true">

  <div class="conteudo-tela">

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="">Buscar Pessoa</a></li>
    </ul>
    <div class="conteudo-nav condensar-rows">
      <div class="col-xs-12 col-sm-3">
        <h3>Código</h3>
        <div class="input-group">
          <input type="text" class="form-control" name="cdPessoa" ng-model="cdPessoa" blur-to="crm.pessoa.codigo" keys-shortcuts enter="crm.buscarPessoaPorCodigo(cdPessoa)">
          <div class="input-group-btn">
            <button class="btn btn-default" ng-click="crm.buscarPessoa(cdPessoa)"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h3>Nome</h3>
        <input type="text" class="form-control" ng-value="crm.pessoa.nome" readonly>
      </div>
    </div>
    <br>
    <span ng-show="crm.pessoa.id">
      <ul class="nav nav-tabs">
        <li role="presentation" ng-class="crm.opcao === 'dados' ? 'active' : ''"><a href="" ng-click="crm.opcao='dados'">Dados <span class="hidden-xs">Cadastrais</span></a></li>
        <li role="presentation" ng-class="crm.opcao === 'historico' ? 'active' : ''"><a href="" ng-click="crm.opcao='historico'">Histórico <span class="hidden-xs">de Compra</span></a></li>
        <li role="presentation" ng-class="crm.opcao === 'financeiro' ? 'active' : ''" ng-show="crm.isFuncionario() && liberarFinanceiro()"><a href="" ng-click="crm.opcao='financeiro'">Conta <span class="hidden-xs">Corrente</span></a></li>
      </ul>
      <div class="conteudo-nav condensar-rows">
        <div ng-show="crm.opcao === 'dados'" ng-include="'partials/crm/dados.html'"></div>
        <div ng-show="crm.opcao === 'historico'" ng-include="'partials/crm/historico.html'"></div>
        <div ng-show="crm.opcao === 'financeiro'" ng-include="'partials/crm/financeiro.html'"></div>
      </div>
    </span>
  </div>

</tela>
