<tela id="crm" icon="glyphicon-thumbs-up" titulo="CRM" subtitulo="" show-footer="true">

  <div class="conteudo-tela">

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="">Buscar Pessoa</a></li>
    </ul>
    <div class="conteudo-nav condensar-rows">
      <div class="col-xs-3">
        <h3>Código</h3>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="cdPessoa" blur-to="crm.pessoa.codigo" keys-shortcuts enter="crm.buscarPessoaPorCodigo(cdPessoa)">
          <div class="input-group-btn">
            <button class="btn btn-default" ng-click="crm.buscarPessoa()"><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </div>
      </div>
      <div class="col-xs-9">
        <h3>Nome</h3>
        <input type="text" class="form-control" ng-value="crm.pessoa.nome" readonly>
      </div>
    </div>
    <br>
    <span ng-show="crm.pessoa.id">
      <ul class="nav nav-tabs" ng-init="opcao='dados'">
        <li role="presentation" ng-class="opcao === 'dados' ? 'active' : ''"><a href="" ng-click="opcao='dados'">Dados Cadastrais</a></li>
        <li role="presentation" ng-class="opcao === 'historico' ? 'active' : ''"><a href="" ng-click="opcao='historico'">Histórico de Compra</a></li>
        <li role="presentation" ng-class="opcao === 'financeiro' ? 'active' : ''" ng-show="crm.isFuncionario() && liberarFinanceiro()"><a href="" ng-click="opcao='financeiro'">Conta Corrente</a></li>
      </ul>
      <div class="conteudo-nav condensar-rows">
        <div ng-show="opcao === 'dados'" ng-include="'partials/crm/dados.html'"></div>
        <div ng-show="opcao === 'historico'" ng-include="'partials/crm/historico.html'"></div>
        <div ng-show="opcao === 'financeiro'" ng-include="'partials/crm/financeiro.html'"></div>
      </div>
    </span>
  </div>

</tela>
