<tela class="hidden-xs" id="home" icon="glyphicon-home" titulo="Home" subtitulo="Página inicial, escolha uma opção." show-footer="false">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1" id="menu-home">
    <div class="col-xs-6 col-sm-6 col-md-4" ng-repeat="botao in botoes">
      <div class="botao-menu-home" redireciona="{{botao.url}}">
        <div class="centerX centerY">
          <span class="glyphicon" ng-class="botao.icone"></span>
          <h4 ng-bind-html="botao.nome"></h4>
        </div>
      </div>
    </div>
  </div>

</tela>

<div class="visible-xs-block super-logo">

</div>
