<div class="tela-transparente centerY container">
  <div id="login">
    <div class="login-header centerX">
      <div class="logotipo centerX"></div>
    </div>
    <form ng-submit="login.logar()" class="login-body centerX">
      <!--<span class="glyphicon glyphicon-user"></span>-->
      <h4>Digite seu nome de usuário e senha.</h4>
      <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-user"></i>
        <input type="text" class="usuario form-control" placeholder="Nome de usuário" ng-model="login.username">
      </div>
      <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-lock"></i>
        <input type="password" class="senha form-control" placeholder="Senha" ng-model="login.password">
      </div>
      <button class="btn btn-default" type="submit">Login</button>
    </form>
  </div>
</div>
