<tela id="movimentacao" icon="glyphicon-tasks" titulo="Movimentação"
      subtitulo="Lançamento de movimentação." show-footer="true">

  <div class="conteudo-tela">
    <ul class="nav nav-tabs" ng-init="opcao = 'usuarios'">
      <!--<li role="presentation" ng-class="opcao === 'usuarios' ? 'active' : ''">-->
        <!--<a href="" ng-click="opcao = 'usuarios'">Usuários</a>-->
      <!--</li>-->
    </ul>
    <div class="conteudo-nav condensar-rows">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <button class="btn btn-default botao-esticado" ng-click=""><span
          class="glyphicon glyphicon-refresh"></span> Atualizar
        </button>
      </div>
      <div class="col-xs-6 col-sm-3 col-sm-push-6 col-md-3">
        <button class="btn btn-default botao-esticado" ng-click="movimentacao.abrirModalInserir()"><span
          class="glyphicon glyphicon-plus"></span> Inserir Movimentação
        </button>
      </div>
      <div class="col-md-12"><h5>&nbsp;</h5></div>
      <div class="col-md-12 container-tabela">
        <table class="tabela tabela-esticada tabela-bordered">
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="n in getNumber(15) track by $index">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
        </table>
        <ul uib-pagination total-items="pagination.total" ng-model="pagination.current" items-per-page="pagination.max" max-size="5" ng-change="pageChanged()" class="pagination-sm pull-right" boundary-link-numbers="true" rotate="true" force-ellipses="true" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
      </div>
    </div>
  </div>

</tela>

<!--MODAL INSERIR-->
<div class="modal meu-modal fade" id="modalInserir" tabindex="-1" role="dialog" aria-labelledby="modalInserir">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="header">
        <div class="title"><span class="glyphicon glyphicon-pencil"></span> Inserir Movimentacao <span
          class="glyphicon glyphicon-remove close" data-dismiss="modal"></span>
        </div>
      </div>
      <div class="body">
        <div class="col-md-4">
          <h4>Produto</h4>
          <input type="text" class="form-control" ng-model="financeiro.forma.codigo" readonly="true">
        </div>
        <div class="col-md-8">
          <h4>Descrição</h4>
          <input type="text" class="form-control" ng-model="financeiro.forma.descricao">
        </div>
        <div class="col-md-4">
          <h4>Tipo</h4>
          <select class="form-control">
            <option value="entrada">Entrada</option>
            <option value="saida">Saída</option>
          </select>
        </div>
        <div class="col-md-4">
          <h4>Data Inicial</h4>
          <div class="input-group">
            <span class="calendario">
              <input id="inicial" type="text" class="form-control" name="data-inicial" uib-datepicker-popup="{{format}}" datepicker-template-url="partials/datepicker/index.html" datepicker-append-to-body="true" on-open-focus="false" is-open="inicialIsOpen" ng-model="dataInicial" datepicker-options="dateOptions" ng-required="true" show-button-bar="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar" />
            </span>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="inicialIsOpen=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Data Final</h4>
          <div class="input-group">
            <span class="calendario">
              <input id="final" type="text" class="form-control" name="data-final" uib-datepicker-popup="{{format}}" datepicker-template-url="partials/datepicker/index.html" on-open-focus="false" is-open="finalIsOpen" ng-model="dataFinal" datepicker-options="dateOptions" ng-required="true" show-button-bar="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar" />
            </span>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="finalIsOpen=true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="control">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> Cancelar
        </button>
        <button type="button" class="btn btn-primary" ng-click="financeiro.salvarForma()">
          <span class="glyphicon glyphicon-floppy-save"></span> Salvar
        </button>
      </div>
    </div>
  </div>
</div>
<!--FIM MODAL-->
