<div>

  <div class="tela centerY container">

    <div class="header">
      <h1><span class="glyphicon glyphicon-tag"></span> Serviços & Produtos</h1>
      <h4>aisdahdah iaduah diuashd iuahd iuashdiahdsa</h4>
    </div>

    <div class="body">
      <p>adasuhdasidhuiashduashdi</p>
      <p>adasuhdasidhuiashduashdi</p>
      <p>adasuhdasidhuiashduashdi</p>
      <p>adasuhdasidhuiashduashdi</p>
      <p>adasuhdasidhuiashduashdi</p>
      <p>adasuhdasidhuiashduashdi</p>
      <p>adasuhdasidhuiashduashdi</p>
    </div>

    <div class="footer">
      <ul>
        <li>asfasfas</li>
        <li>asfasfas</li>
        <li>asfasfas</li>
        <li>asfasfas</li>
      </ul>
    </div>

  </div>

</div>
