<tela id="tela-ticket" icon="glyphicon-tag" titulo="Ticket" subtitulo="asidjaios iaojdoais doiajdosa" show-footer="true">

  <div class="conteudo-tela">
    <ul class="nav nav-tabs" ng-init="opcao = 'novo'">
      <li role="presentation" ng-class="opcao === 'listar' ? 'active' : ''"><a href="" ng-click="opcao = 'listar'">Tickets</a></li>
      <li role="presentation" ng-class="opcao === 'novo' ? 'active' : ''"><a href="" ng-click="opcao = 'novo'">Novo</a></li>
    </ul>
    <div class="conteudo-nav condensar-rows">
      <div ng-show="opcao === 'novo'" ng-include="'partials/formNovoTicket.html'"></div>

      <div ng-show="opcao === 'listar'">
        <div class="container-tabela">
          <div class="container-tabela">
            <table id="" class="tabela tabela-bordered tabela-esticada">
              <thead>
              <tr>
                <th>Código</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Profissional</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="n in getNumber(15) track by $index">
                <td>00{{$index}}</td>
                <td>Teste teste teste teste teste teste.</td>
                <td>01/01/2016</td>
                <td>10,00</td>
                <td>Ninguém</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ul uib-pagination total-items="pagination.total" ng-model="pagination.current" items-per-page="pagination.max" max-size="5" ng-change="pageChanged()" class="pagination-sm pull-right" boundary-link-numbers="true" rotate="true" force-ellipses="true" previous-text="&lsaquo; anterior" next-text="próximo &rsaquo;"></ul>
      </div>

    </div>
  </div>

</tela>
